<mat-card class="card">
  <mat-card-title>Detalle del contacto</mat-card-title>
  <mat-card-content class="card-content">
    <p>
      <mat-icon>person</mat-icon><strong>Nombre:</strong> {{contact.name}} 
    </p>
    <p>
      <mat-icon>person</mat-icon><strong>Primer apellido:</strong> {{contact.sname1}}
    </p>
    <p>
      <mat-icon>person</mat-icon><strong>Segundo apellido:</strong> {{contact.sname2}}
    </p>
    <p>
      <mat-icon>phone</mat-icon><strong>Teléfono:</strong> {{contact.phonenumber}}
    </p>
    <p>
      <mat-icon>email</mat-icon><strong>Correo electrónico:</strong> {{contact.email}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raise-button type="button" (click)="updateContact()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raise-button type="button" color="warn" (click)="closeContact()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
