.card{
  margin: 20px 40px 20px 4px
}

.button{
  display: flex;
  justify-content: flex-end;
}
.button button {
  margin-left: 1%;
}
.mat-radio-button {
  margin-left: 5px;
}
.mat-form-field {
  margin-left: 5px;
}