<mat-card class="card">
  <mat-card-title>Detalle del producto</mat-card-title>
  <mat-card-content class="card-content">
    <p>
      <mat-icon>fastfood</mat-icon><strong>Producto:</strong> {{product.name}} 
    </p>
    <p>
      <mat-icon>storage</mat-icon><strong>Stock:</strong> {{product.stock}}
    </p>
    <p>
      <mat-icon>euro_symbol</mat-icon><strong>Precio:</strong> {{product.price}}
    </p>
    <p>
      <mat-icon>event_available</mat-icon><strong>Disponible:</strong> {{product.active}}
    </p>
    <p>
      <mat-icon>date_range</mat-icon><strong>Fecha:</strong> {{product.date_added}}
    </p>
    <p>
      <mat-icon>list_alt</mat-icon><strong>Categoría:</strong> {{product.category?.name}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raise-button type="button" (click)="updateProduct()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raise-button type="button" color="warn" (click)="closeProduct()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
